
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext">จ๊อบเนม</label>
		<div class="col-sm-5">
			<input type="text" class="form-control"
				ng-model="formData.jobName">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext">ชื่อบริษัทลูกค้า</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" ng-model="formData.companyName">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext">ชื่อผู้สร้างจ๊อบ</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" ng-model="formData.userName">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext"
			style="margin-right: 15px;">จากวันที่</label>
		<div class="col-sm-4 input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}"
				ng-model="formData.dateTimeStart" is-open="formData.openedStart"
				close-text="Close" /> <span class="input-group-btn">
				<button type="button" class="btn btn-default"
					ng-click="openStart($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext"
			style="margin-right: 15px;">ถึงวันที่</label>
		<div class="col-sm-4 input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}"
				ng-model="formData.dateTimeEnd" is-open="formData.openedEnd"
				close-text="Close" /> <span class="input-group-btn">
				<button type="button" class="btn btn-default"
					ng-click="openEnd($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>
	</div>

	<div class="form-group text-align-center-ext">
		<button class="btn btn-default btn-ext" ng-click="search()">ค้นหา</button>
		<button class="btn btn-default btn-ext" ng-click="clear()">ล้างข้อมูล</button>
	</div>

	<!-- ------------------------------------------------------------------------------- -->

	<div class="container-fluid rounded-border2-ext"
		style="margin-bottom: 10px; background-color: white;">
		<div style="position: relative;  float: left; left: 10px; top: 8px;">
			หน้า: {{formData.currentPage}} / {{numPages}} ({{ totalItems }}
			รายการ)
		</div>
		<div style="text-align: right; margin-top: 3px;">
			<pagination ng-change="pageChanged()" total-items="totalItems"
				ng-model="formData.currentPage" items-per-page="itemsPerPage"
				max-size="maxSize" class="pagination-sm" boundary-links="true"
				rotate="false" num-pages="numPages"
				style="margin:auto;" />
		</div>

		<table
			class="table table-striped table-bordered table-hover rounded-border2-ext">
			<col style="width: 6%">
			<col style="width: 15%">
			<col style="width: 15%">
			<col style="width: 43%">
			<col style="width: 10%">
			<col style="width: 10%">
			<thead class="font-color-white-ext"
				style="background-color: #DA6307;">
				<tr align="center">
					<td>ลำดับที่<br />Item
					</td>
					<td>วันที่<br />Date
					</td>
					<td>จ๊อบแนม <br />Job Name
					</td>
					<td>ชื่อบริษัทลูกค้า <br />Customer
					</td>
					<td>ชื่อผู้สร้างจ๊อบ<br />Job Created
					</td>
					<td style="vertical-align: middle;">
						<img title="เพิ่มจ๊อบ" src="../../assets/img/add_icon.png" ng-click="addJob()" width="30" style="cursor: pointer;" />
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in items track by $index">
					<td style="vertical-align: middle;">{{ $index + 1 +
						((formData.currentPage - 1) * itemsPerPage) }}</td>
					<td>{{ x.createdDateTime }}</td>
					<td>{{ x.jobName }}</td>
					<td>{{ x.companyName }}</td>
					<td>{{ x.userName }}</td>
					<td>
						<img style="cursor: pointer;" title="ลบจ๊อบ" src="../../assets/img/delete_icon.png" ng-click="deleteJob(x.id)" width="20" /> 
						<img style="cursor: pointer;" title="แก้ใขจ๊อบ" src="../../assets/img/setting_icon.png" ng-click="addJob(x.id)" width="20" /> 
						<img style="cursor: pointer;" title="เพิ่มจ๊อบ" src="../../assets/img/forward.png" ng-click="showTask(x.id, x.companyName)" width="20" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>