
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext">ชื่อบริษัทลูกค้า</label>
		<div class="col-sm-5">
			<input type="text" class="form-control"
				ng-model="formData.companyName">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext">เลขที่เอกสาร</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" ng-model="formData.docNo">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext"
			style="margin-right: 15px;">จากวันที่</label>
		<div class="col-sm-4 input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}"
				ng-model="formData.dateTimeStart" is-open="formData.openedStart"
				close-text="Close" /> <span class="input-group-btn">
				<button type="button" class="btn btn-default"
					ng-click="openStart($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-5 control-label font-color-white-ext"
			style="margin-right: 15px;">ถึงวันที่</label>
		<div class="col-sm-4 input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}"
				ng-model="formData.dateTimeEnd" is-open="formData.openedEnd"
				close-text="Close" /> <span class="input-group-btn">
				<button type="button" class="btn btn-default"
					ng-click="openEnd($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>
	</div>

	<div class="form-group text-align-center-ext">
		<button class="btn btn-default btn-ext" ng-click="search()">ค้นหา</button>
		<button class="btn btn-default btn-ext" ng-click="clear()">ล้างข้อมูล</button>
	</div>

	<!-- ------------------------------------------------------------------------------- -->

	<div class="container-fluid rounded-border2-ext"
		style="margin-bottom: 10px; background-color: white;">
		<div style="position: relative; float: left; left: 10px; top: 8px;">
			หน้า: {{formData.currentPage}} / {{numPages}} ({{ totalItems}} รายการ)</div>
		<div style="text-align: right; margin-top: 3px;">
			<pagination ng-change="pageChanged()" total-items="totalItems"
				ng-model="formData.currentPage" items-per-page="itemsPerPage"
				max-size="maxSize" class="pagination-sm" boundary-links="true"
				rotate="false" num-pages="numPages" style="margin:auto;" />
		</div>

		<table class="table table-striped table-bordered table-hover rounded-border2-ext">
			<col style="width: 6%">
			<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 30%">
			<col style="width: 14%">
			<col style="width: 10%">
			<col style="width: 15%">
			<col style="width: 5%">
			<thead class="font-color-white-ext"
				style="background-color: #DA6307;">
				<tr align="center">
					<td>ลำดับที่<br />Item
					</td>
					<td>วันที่ออก<br />Date
					</td>
					<td>เลขที่เอกสาร <br />Doc No.
					</td>
					<td>ชื่อบริษัทลูกค้า <br />Customer
					</td>
					<td>เงื่อนใขการชำระเงิน<br />Paid With
					</td>
					<td>กำหนดชำระเงิน<br />Due Date
					</td>
					<td>
						จำนวนเงินรวมภาษี<br />price (Inc vat)
					</td>
					<td style="vertical-align: middle;">
						<img title="เพิ่มภาษีซื้อ" src="../../assets/img/add_icon.png" ng-click="addVatIn()" width="30" style="cursor: pointer;" />
					</td>
				</tr>
			</thead>
			<tbody id="tb-body-vat-ext">
				<tr ng-repeat="x in items track by $index">
					<td>{{ $index + 1 +
						((formData.currentPage - 1) * itemsPerPage) }}</td>
					<td>{{ x.vatCreatedDateTime }}</td>
					<td>{{ x.vatDocNo }}</td>
					<td>{{ x.companyName }}</td>
					<td>{{ x.vatPayCondition }}</td>
					<td>{{ x.vatDueDate }}</td>
					<td>{{ x.totalPrice }}</td>
					<td>
						<!-- <img style="cursor: pointer;" title="download" src="../../assets/img/income_icon.png" ng-click="download(x.id)" width="20" /> --> 
						<img title="ซื้อ" src="../../assets/img/expenses_icon.png" width="20" /> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>