<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="../../../assets/css/loginStyle.css">
</head>
<body class="align">
	<div class="site__container" style="width: 300px;">
		<div class="grid__container">
			<form action="/sahaiOffice/app/components/login/login.html" method="post" class="form form--login">

				<div class="form__field">
					<label class="fontawesome-user" for="login__username">
					<span class="hidden">Username</span></label> 
					<input id="username" name="username" type="text" class="form__input" placeholder="Username" required>
				</div>

				<div class="form__field">
					<label class="fontawesome-lock" for="login__password">
					<span class="hidden">Password</span></label> 
					<input id="password" name="password" type="password" class="form__input" placeholder="Password" required>
				</div>
				<div class="form__field">
					<input type="submit" value="Sign In">
				</div>
			</form>

			<!-- <p class="text--center">
				Not a member? 
				<a href="#">Sign up now</a> <span class="fontawesome-arrow-right"></span>
			</p> -->
		</div>
	</div>
</body>
</html>







<!-- <html>
<head>
<title>Login Page</title>
</head>
<body onload='document.f.username.focus();'>
	<h3>Login</h3>
	<form name='f' action='/sahaiOffice/app/components/login/login.html' method='POST'>
		<table>
			<tr>
				<td>User:</td>
				<td><input type='text' name='username' value=''></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' /></td>
			</tr>
			<tr>
				<td colspan='2'><input name="submit" type="submit"
					value="Login" /></td>
			</tr>
		</table>
	</form>
</body>
</html> -->